/* ---------------------------------- */
/* ------ MAIN BODY OF WEBSITE ------ */
/* ---------------------------------- */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none;
  /* This stops the iPhone from automatically changing the size of the text when you flip the phone */
}

body {
  font-size: 16px;
}

h1, h2, h3, h4 {
  line-height: 1.2em;
}

/* ---------------------------------- */
/* ---------- VIEW CART BTN --------- */
/* ---------------------------------- */

#viewCart .container {
  position: absolute;
  z-index:9999;
  right:0px;
  text-align:center;
  width:100%;
  top:-10px;
}



.viewCart {
  font-size:1em!Important;
  position: relative!Important;
  width:;
  max-width:;
  /*--- JUSTIFY CONTENT ---*/
  -webkit-box-pack: start;
          justify-content:flex-start!Important;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  /*--- END JUSTIFY CONTENT ---*/
}

#viewCart .viewCart {
  color:#156338!Important;
  font-size:1.2em!Important;
  
}


.siteBottom section .container {
  padding:10px 10px;
  
}

/* ---------------------------------- */
/* ------------ SIDEBAR ------------- */
/* ---------------------------------- */
.sidebar, #outerSidebar {
  display: none;
}

/* ---------------------------------- */
/* ----------- NAVIGATION ----------- */
/* ---------------------------------- */




/* ---------  MOBILE MENU -------------*/

body {
  padding-top: 50px;
}

#mobileMenu {
  position: fixed;
  z-index: 1005;
  top: 0;
  left: 0;
  right: 0;  
  bottom: auto;
}

.activeNav #mobileMenu {
/*   height: 100%; */
  bottom: 0;
  box-sizing: border-box;
  padding-bottom: 60px;
}

#mobileMenu nav {  
  overflow-y: auto;  
  height: 100%;
}

#mobileMenu span {
  padding: 10px !important;
  padding: 2.5vh 10px !important;
}
#navMenuWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures it's above other elements */
  background: white; /* Set a background color to avoid transparency issues */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

#navMenuWrap {
  display: flex;
  background: #D41708; /*color*/
}

#mobileMenu #navMenuWrap > * {    
  display: block;
  flex: 1;
  border-right: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  padding: 10px 5px;
  box-sizing: border-box;
  background: none;
}

.link0 #homeLink:before, .link0 #homeLink:after {
  opacity: 0.3;
}

#mobileMenu #navMenuWrap > *:last-child {
  border-right: 0px solid transparent;
}

#mobileMenu #navMenuWrap > *:before, #mobileMenu #navMenuWrap > *:after {
  line-height: 1em;
  text-align: center;
  display: block;
  color: #fff;
}

#mobileMenu #navMenuWrap > *:before {
  font-family: FontAwesome;
  margin-bottom: 5px;
  font-size: 1em; 
}

#mobileMenu #navMenuWrap > *:after {
  font-size: 0.8em; 
}

#mobileMenu #navMenuWrap > #navToggle:before {
  content: "\f0c9";
}

#mobileMenu #navMenuWrap > #homeLink:before {
  content: "\f015";
}

#mobileMenu #navMenuWrap > #emailLink:before {
  content: "\f2e7";
}

#mobileMenu #navMenuWrap > #orderLink:before {
  content: "\f562";
}

#mobileMenu #navMenuWrap > #phoneLink:before {
  content: "\f095";
}

#mobileMenu #navMenuWrap > #addressLink:before {
  content: "\f041";
}

#mobileMenu #navMenuWrap > #navToggle:after {
  content: "Menu";
} 

#mobileMenu #navMenuWrap > #homeLink:after {
  content: "Home" !important;
} 
#mobileMenu #navMenuWrap > #orderLink:after {
  content: "Order Online" !important;
}
#mobileMenu #navMenuWrap > #emailLink:after {
  content: "Book a Table";
} 

#mobileMenu #navMenuWrap > #phoneLink:after {
  content: "Phon";
} 

#mobileMenu #navMenuWrap > #addressLink:after {
  content: "Address";
} 

/* ---------  active nav -------------*/

#mobileMenu #navMenuWrap > #navToggle.activeNav:before {
  content: "\f00d";
}

#mobileMenu #navMenuWrap > #navToggle.activeNav:after {
  content: "Close";
} 

html.activeNav body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: none;
}

#mobileMenu {
  transition: 0.3s;
}

.mobileScroll.mobileScrollStart #mobileMenu {
  transform: translatey(-100%);
}

html.activeNav .mobileScroll.mobileScrollStart #mobileMenu {
  transform: translatey(0%);
}

#menu {
  display: none; 
}

#navToggle {
  width: 100%;
  background: #222;
  color: ;
  padding: 10px 0;
  position: relative;
  text-align: left;
  cursor: pointer; }

#navToggle:before {
  font-family: FontAwesome;
  margin-left: 8px;
  content: "\f0c9 ";
  line-height: 1em;
  font-size: 1.5em; }

#navToggle:after {
  margin-left: 8px;
  content: "Menu";
  line-height: 1em;
  font-size: 1.5em; }

#mobileMenu {
  display: inline-block;
  background: #222; 
}
#navMenuWrap img {
  width: 50px; /* Adjust the width to make the logo smaller */
  height: auto; /* Maintains aspect ratio */
  margin-left: 20px; /* Adds 10px space on the left to move the logo to the right */
}


#mobileMenu nav {
  display: none; }

#mobileMenu li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

#mobileMenu li a {
  width: 100%;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box; }

#mobileMenu li span {
  display: block;
  padding: 20px 10px; 
  color: #fff;
}

#mobileMenu .current {
  background: rgba(0, 0, 0, 0.3);
}

#mobileMenu li a:hover {
background: rgba(255, 255, 255, 0);}

/* #mobileMenu li:active {
  background: rgba(255, 255, 255, 0.1); } */

#mobileMenu .parent > span:after {
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  margin-left: 10px;
  content: "\f107";
  line-height: 1em; }

#mobileMenu .parent.clicked > span:after {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}


/* ---------------------------------- */
/* ----------- SUB MENU ----------- */
/* ---------------------------------- */
#mobileMenu li ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255,255,255,0.07); }

#mobileMenu li ul a {
  padding-left: 30px; }

#mobileMenu li a:hover {
  background: rgba(255, 255, 255, 0); }

/* #mobileMenu li:active {
  background: rgba(255, 255, 255, 0.1);  } */

#mobileMenu .parent > a:after {
  font-family: FontAwesome;
  margin-left: 8px;
  content: "\f107";
  line-height: 1em; }




/* ---------------------------------- */
/* --------- PHOTO SECTION ---------- */
/* ---------------------------------- */
.imageSection .item {
  width: 50%;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.clients .contentImgRow .item {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 10px;
  width: calc(48% - 20px) !important;
  padding: 40px 20px;
  box-sizing: border-box;
  -webkit-box-flex: none;
      -ms-flex-positive: none;
          flex-grow: none;
}

.contentImgRow {
  /*--- JUSTIFY CONTENT ---*/
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  /*--- END JUSTIFY CONTENT ---*/
  /*------ FLEX WRAP ------*/
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /*------ END FLEX WRAP ------*/
}

/* ---------------------------------- */
/* ----------- CUSTOM DIVS ---------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ------------- FOOTER ------------- */
/* ---------------------------------- */
footer {
  padding: 0 0 10px 0;
}
footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer nav {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0);
  /*---- DISPLAY FLEX -----*/
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  /*---- END DISPLAY FLEX -----*/
  /*------ FLEX ALIGN -----*/
  -webkit-box-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  /*------ END FLEX ALIGN -----*/
  /*--- JUSTIFY CONTENT ---*/
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  /*--- END JUSTIFY CONTENT ---*/
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
footer .footerRight {
  text-align: center;
}

/*----------------------------------------------*/
/*--------------- ENQUIRY FORM -----------------*/
/*----------------------------------------------*/
#enquiry, .enqLeft, .enqRight {
  width: 100%;
}

/* ---------------------------------- */
/* --------- CART ITEM PAGE --------- */
/* ---------------------------------- */
.cartItemTop {
  display: inline-block;
}
.cartItemTop .cartItemImages, .cartItemTop .cartItemMain {
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
}

.cartItemHeading {
  font-size: 1.4em;
}

.cartItemImages .cartItemHeading, .cartItemImages .cartItemCatHeading {
  display: inline-block;
}

.cartItemHeading {
  margin: 10px 0;
}

.flicker {
  margin-top: 10px;
}

.cartItemAction {
  /*------ FLEX WRAP ------*/
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /*------ END FLEX WRAP ------*/
}
.cartItemAction a {
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: .9em;
}

.cartItemQty {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.cartItemOptions {
  width: 100%;
  margin: 0;
}
.cartItemOptions .cartItemOptionHeading {
  width: 20%;
  text-align: left !important;
}
.cartItemOptions select, .cartItemOptions input {
  width: 80%;
}

.cartItemContent .cartItemMain .cartItemPrice {
  text-align: right;
  font-size: 1.7em;
  height: 42px;
}
.cartItemContent .cartItemMain .cartItemPrice div {
  width: 100%;
}
.cartItemContent .cartItemMain .cartItemPrice span {
  display: inline-block;
  width: auto;
  /*------ FLEX ORDER -----*/
  -webkit-box-ordinal-group: 2;
          order: 1;
  -webkit-order: 1;
  -ms-flex-order: 1;
  /*------ END FLEX ORDER -----*/
  margin: 5px 0 0;
}
.cartItemContent .cartItemMain .cartItemCode {
  text-align: right;
  font-size: .8em;
  padding: 0 10px;
}

.cartItemShortDesc {
  padding: 10px 0;
}

.cartItemBottom {
  padding: 0 10px;
}

/* ---------------------------------- */
/* ----------- CART ITEMS ----------- */
/* ---------------------------------- */
.cartItem {
  width: 48%;
  margin-bottom: 10px;
}

.cartItem:nth-last-child(1), .cartItem:nth-last-child(2), .cartItem:nth-last-child(3), .cartItem:nth-last-child(4) {
  margin-bottom: 10px;
}

.cartItem:nth-last-child(1), .cartItem:nth-last-child(2) {
  margin-bottom: 0px;
}

.cartItemPrice {
  display: inline-block;
  text-align: center;
  height: 58px;
  width: 100%;
  box-sizing: border-box;
}
.cartItemPrice span {
  width: 100%;
  display: inline-block;
  font-size: .7em;
}

.cartItemBtns a {
  padding: 5px;
  box-sizing: border-box;
}
.cartItemBtns a span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.viewCartRow {
  /*------ FLEX WRAP ------*/
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /*------ END FLEX WRAP ------*/
}

.viewCartDescription {
  width: 60% !important;
}

.viewCartRow {
  font-size: .8em;
  padding: 5px;
}
.viewCartRow .viewCartTotal {
  width: 50px;
  text-align: left;
}
.viewCartRow .viewCartDelete {
  width: 25px;
}

.viewCartItem, .viewCartPrice {
  display: none;
}

.cartUpdate, .cartSubTotal {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.cartItemAction a {
  margin-bottom: 0;
}

.viewCartQuantity {
  display: none;
}

.cartItemAction .cartItemPrev, .cartItemAction .cartItemAdd {
  width: 100%;
  margin-top: 3px;
  text-align: center;
}

/*-- CHECKOUT --*/
.checkoutSection {
  font-size: .9em;
}

.resumeShopping {
  display: none;
}

.checkoutSingle {
  display: inline-block;
}

.singleInput {
  width: 100% !important;
  margin-bottom: 10px;
}

.checkoutStageComplete {
  width: 100%;
  text-align: center;
  /*--- JUSTIFY CONTENT ---*/
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  /*--- END JUSTIFY CONTENT ---*/
}

.cartBtn {
  width: 100%;
}

.checkoutNext {
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.reviewQuestionRow {
  display: inline-block;
  width: 100%;
}
.reviewQuestionRow .reviewQuestion, .reviewQuestionRow .reviewQuestionAnswer {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.checkoutReviewMessage {
  word-wrap: break-word;
}

.checkoutReview {
  display: inline-block;
}

.checkoutSectionInner {
  width: 100% !important;
  box-sizing: border-box;
  margin-top: 5px;
}

.cartQuestionRow, .cartQuestion, .cartQuestionInput {
  width: 100% !important;
  display: inline-block;
  margin: 3px 0 !important;
}

/* ---------------------------------- */
/* -------- BANNER OF WEBSITE ------- */
/* ---------------------------------- */


.desktopHide {
  display: block;
}
.mobileHide {
  display: none !important;
}

.siteTop {
  position: relative;
  background:#3333;
  min-height:0px;
}

.logo {
  position: static !important;;
  max-width: 200px;
  width: 90%;
  margin: 10px auto;  
  padding: 0;
  height: auto;
  display: block;
}

 #banner{
  display:none;
  
}

.link0 #banner{
  background:#000;
  padding:20px 0;
  display:block;

  
}

#banner .contact {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#banner .contact a {
  display: inline-block;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0 !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#banner .contact a:hover {
  -webkit-transform: none;
          transform: none;
}

#banner .contact a:before {
  margin-right: 0;
}

#banner .contact  {
  display: none;
}


.link0 #section1, .link0 #section3 {
  padding: 30px 0;
  text-align: center;
}

.link0 #section2.textSection {
  padding-top: 30px;
}

.link0 #section2.buttonSection {
  padding-bottom: 30px;
}

.link0 #section2 h2 {
  margin-bottom: .5em;
}

.link0 #section1 h1 {
  margin-bottom: .5em;
}

h6 a {
  margin-top: 0.8em;
}

.M_full_img, .M_left_img, .M_left_imgC, .M_right_img, .M_right_imgC {
  padding: 20px 0;
}





#subBanner{
  display:none;
  
}

/* ---------------------------------- */
/* -------- GRAPHICAL BUTTONS ------- */
/* ---------------------------------- */

.buttons .butFrame {
  width:95%;
  
}


/* ---------------------------------- */
/* -------- SLIDESHOW STYLES -------- */
/* ---------------------------------- */

.mouse, .flickerplate .arrow-navigation {
  display: none !important;
}

.mainSlider .flickerplate, .flick-inner {
    /*Adjust This To Suit % Images*/

    padding-bottom: 80% !important;
    height: 0;
}

.flick-content {
  padding: 0;
  font-size: 0.5em;
  margin-top:30%!Important;
}

.centeredText .flick-content {
  width: 80%;
}

.flickerplate .dot-navigation {
  display: none;
}

/*.flick-inner .flick-content {
  display: none;
}*/

/* ---------------------------------- */
/* ---------- CUSTOM FOOTER --------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ----------- ULTIMATE CSS --------- */
/* ---------------------------------- */

a.callback {
  display: none;
}

/*#enquire-dropdown {
  height: 370px;
}*/

/* ---------------------------------- */
/* ----------- CUSTOM CSS ----------- */
/* ---------------------------------- */

.sideIcons a{
    background:#6fa723;

  
}

td{
  width:100%!Important;
  display:block;  
}

.homeTable td:nth-child(2) {
    padding:0px;
}


.specialsTable{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: column;
  overflow: hidden;  
  
  width:100%;
  max-width:1100px;
}

.specials{
  background:rgba(0,0,0,0.4);
  border:1px solid rgba(0,0,0,0.5);
  padding:10px 10px;
  margin:5px 0px;
  width:100%;
}


.col-1, .col-2,.col-3, .col-4, .col-5, .col-6 {
  width: calc(100% - 20px);
  margin: 10px;
}
.contactContainer {
  text-align: center;
}
.contactContainer .col-1 {
  width: calc(100% - 20px);
   margin: 10px;
  display: block;
}

.contactContainer .col-2 {
  width: calc(50% - 20px);
   margin: 10px;
  display: inline-block;
}
.contactContainer .col-3 {
   width: calc(33.33% - 20px);
   margin: 10px;
   display: inline-block;
}
.contactContainer .col-4 {
   width: calc(25% - 20px);
   margin: 10px;
   display: inline-block;
}
.contactContainer .col-5 {
  width: calc(20% - 20px);
   margin: 10px;
  display: inline-block;
}
.contactContainer .col-6 {
 width: calc(16.66% - 20px);
   margin: 10px;
 display: inline-block;
}
